<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Language Recognition</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">🖐️ SignRecognizer</div>
            <ul class="nav-links">
                <li><a href="/" class="active">Home</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Help</a></li>
                <li><a href="/dashboard">Recognition</a></li>
            </ul>
        </nav>
    </header>
    

    <main style="text-align: center; margin-top: 100px;">
        <h1>🖐️ Simple Sign Language Recognition</h1>
        <p>Click below to start recognition</p>
        <a href="/dashboard"><button>Start Recognition</button></a>
    </main>

    <footer>
        <p>© 2025 Made by Unorthodox</p>
    </footer>
</body>
</html>
